@viewport {
    width: device-width ;
    zoom: 1.0 ;
}

.main {
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: 'Lato', sans-serif;
}

hr {
    width: 100%;
    font-size: 1px;
    border: none;
    border-top: 1px solid #EBEBEB;
}

.notificationContainer {
    display: flex;
    width: 40vw;
    padding-top: 2em;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: center;
}

.emailRequest {
    display: flex;
    flex-direction: column;
}

.instructions {
    display: flex;
    flex-direction: column;
    padding: 3em 0 3em 0;
    text-align: center;
}

.emailForm {
    display:flex;
    flex-direction: column;
    padding: 0 0 5em 0;
}

.inputContainer {
    display:flex;
    padding: 0 0 2em 0;
}

.btn {
    width: 100%;
    background-color: #F47521;
    border: 0;
    cursor:pointer;
}

.btn:hover{
    background: #F47521;
}

.felidaeLogo {
    width: 40vw;
    max-width: 50em;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 1em;
}

.row-links {
    display:flex;
}

.row-links a {
    color: black;
    font-size: .8em;
}

.column-1-links {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    padding-right: 1em;
}

.column-2-links {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    padding-left: 1em;
}

.results {
    display: flex;
    justify-content: center;
    padding: 1em 0 1em 0;
}

.success {
    color: #459CF7;
}

.failure {
    color: #FF4C6A;
}

@media only screen and (max-width: 768px) {

    .main {
        display: flex;
        width: 100%;
        justify-content: center;
        font-family: 'Lato', sans-serif;
    }
    
    hr {
        width: 100%;
        font-size: 1px;
        border: none;
        border-top: 1px solid #EBEBEB;
    }
    
    .notificationContainer {
        display: flex;
        width:90%;
        padding-top: 2em;
        flex-direction: column;
    }
    
    .navigation {
        display: flex;
        justify-content: center;
    }
    
    .emailRequest {
        display: flex;
        flex-direction: column;
    }
    
    .instructions {
        display: flex;
        flex-direction: column;
        padding: 2em 0 3em 0;
        text-align: center;
    }

    .emailForm {
        display:flex;
        flex-direction: column;
        padding: 0 0 5em 0;
    }

    .inputContainer {
        display:flex;
        padding: 0 0 2em 0;
    }
    
    .btn {
        width: 100%;
        background-color: #F47521;
        border: 0;
        cursor:pointer;
    }
    
    .btn:hover{
        background: #F47521;
    }
    
    .felidaeLogo {
        width: 90vw;
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding-bottom: 1em;
    }

    .row-links {
        display:flex;
    }

    .row-links a {
        color: black;
        font-size: .8em;
    }
    
    .column-1-links {
        display: flex;
        width: 50%;
        justify-content: flex-end;
        padding-right: 1em;
    }

    .column-2-links {
        display: flex;
        width: 50%;
        justify-content: flex-start;
        padding-left: 1em;
    }

    .results {
        display: flex;
        justify-content: center;
        padding: 1em 0 1em 0;
        text-align: center;
        font-size: .9em;
    }

    .success {
        color: #459CF7;
    }

    .failure {
        color: #FF4C6A;
    }
}