.privacyPolicyContainer {
    display: flex;
    width:55%;
    padding-top: 2em;
    flex-direction: column;
}

.sectionContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 1em;
}

.sectionContainer span {
    padding-bottom:1em;
    color: #828282;
}

.sectionContainer li {
    color: #828282;
    padding-bottom: .5em;
}

.subSection {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: center;
}

.bulletTitle {
    font-weight: 900;
}

@media only screen and (max-width: 768px) {
    .privacyPolicyContainer {
        display: flex;
        width:90vw;
        padding-top: 2em;
        flex-direction: column;
    }
    
    .sectionContainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 1em;
    }
    
    .sectionContainer span {
        padding-bottom:1em;
        color: #828282;
    }
    
    .sectionContainer li {
        color: #828282;
        padding-bottom: .5em;
    }
    
    .subSection {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-self: center;
    }
    
    .bulletTitle {
        font-weight: 900;
    }

}
